---
layout: default
title: Projects
headtitle: Projects
---
{% for project in site.data.projects %}
<div class="container" id="speedrunner">
	<h2> {{ project.title }}
		<a target="_blank" rel="noopener noreferrer" href="{{ project.github }}">
			<img src="assets/github-mark/github-mark.svg" style="height: .8lh;">
		</a>
	</h2>
	{% if project.image contains "youtube" %}
	<div class="ratio ratio-16x9 mb-3">
		<iframe class="w-100 h-100" src="{{ project.image }}" title="YouTube video player" frameborder="0"
			allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
			referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
	</div>
	{% else %}
	<img class="img-fluid mb-3" src="{{ project.image }}" alt="{{ project.title }}">
	{% endif %}
	<p>
		{{ project.description }}
	</p>
	<p class="mb-0">I used:</p>
	<ul>
		{% for tech in project.used %}
		<li>{{ tech }}</li>
		{% endfor %}
	</ul>
	<p class="mb-0">What I learned:</p>
	<ul>
		{% for learn in project.learned %}
		<li>{{ learn }}</li>
		{% endfor %}
	</ul>
</div>
{% endfor %}
