#skills {
	background: url('../assets/image-57.webp') center/cover;
}

#projects {
	background: url('../assets/tetris.png') center/cover;
}

#about {
	background: url('../assets/20240910_183611.jpg') center/cover;
}
